html,
body {
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
  background-color: #DCDCDC;
}

.container {
  margin-top: 3%;
}

.row {
   margin-bottom: 3%;
}

.containerTable {
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
}